# VS Code
.vscode/

# ModelSim runtime artifacts
sim_modelsim/

# Python cache
__pycache__/
*.pyc

# Simulation generated data
sim/generated/
sim/inst_txt/
sim/__pycache__/
sim/*.vvp

# Temporary / log files
*.log
*.wlf
transcript
